.main-button {
  background-color: rgba($redColor, .8);
  color: #FFF;
  border: none;
  padding: 7px 15px;
  text-align: center;
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $redColor
  }
}

.the-toggler {
  background-color: $redColor;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  outline: none;
  @media #{$maxMobile} {
    display: block;
  }
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #FFF;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
